#heading{
    background-color: black;
    color: white;
    text-align: center;
}

h3{
    text-align: center;
    font-size: smaller;
}

.subheading{
    background-color: rgb(83, 21, 83);
    color: rgb(253, 252, 250);
    
}

#recipe-list{
    background-color: rgba(141, 51, 224, 0.212);
    color: rgb(8, 24, 243);
    text-align: justify;  
}

.description{
    font-size: large;

}

h4{
    background-color: rgba(238, 130, 238, 0.562);
    color: rgb(141, 1, 1);
    padding-left: 2%;
}

.recipe-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.list{
    background-color: rgba(141, 51, 224, 0.212);
}

#button{
    background-color: rgba(238, 130, 238, 0.329);
    border-color: blueviolet;
    text-align: justify;
    margin-left: 45%;
    margin-right: 55%;
    margin-top: 1%;
    padding: 10px;
}